body {
    margin: 0;
    padding: 0;
    font-family: "Program OT Bold", Arial, serif;
    background-color: #DDDDDD;
    text-align: center;
}

#container {
    display: inline-block;
    width: 1200px;
}

nav ul {
    list-style-type:none;
    text-align: center;
    padding-top: 15px;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 50px;
}

nav {
    height: 50px;
    background-color: black;
    /*margin: 0 120px;*/
    padding: 0;
    font-size: 12px;
    font-weight: bold;
}

nav li a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

#banner {
    display: inline-block;
    text-align: center;
    position: relative;
}

#banner img {
    width: 100%;
    height: auto;
}

#logo {
    position: absolute;
    top: 150px;
    left: 250px;
}

#categories {
    width: 1200px;
    margin: 0;
    background-color: black;
    display: inline-block;
}

#categories img {
    display: block;
    width: 300px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 0 50px 0;
    text-align: center;
}

#speed {
    margin-left: 10px;
    margin-right: 10px;
}

.category {
    display: inline-block;
    position: relative;
    width: 300px;
}

.productCategory {
    position: absolute;
    top: 115px;
    left: 0;
}

.productCategory input {
    border: none;
    width: 100px;
    height: 35px;
    background-color: #C0392B;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.category figure {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.category figcaption {
    width: 300px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #444444;
    opacity: 0.75;
}

.category figcaption strong {
    display: block;
    font-size: 2em;
    font-weight: bold;
    padding-top: 8px;
    color: white;
}

#products {
    display: inline-block;
    width: 1200px;
    background-color: white;
}

#products h3 {
    display: block;
    width: 500px;
    text-align: left;
}

#shop {
    display: inline-block;
    margin-top: 50px;
    float: left;
    padding-left: 135px;
    text-align: left;
}

#featured {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 950px;
    margin: auto;
    text-align: center;
}

#featured img {
    width: 100%;
    height: 175px;
}

.desc {
    display: block;
    text-align: center;
    font-size: 14px;
    max-width: 205px;
    padding: 5px;
}

h3 {
    display: block;
    margin: auto;
    font-weight: lighter;
    font-size: 1.5em;
}

#products h3 strong {
    margin-top: 0;
    font-weight: bolder;
    font-size: 1.5em;
}

.product {
    display: inline-block;
    margin: 10px;
    width: 215px;
    text-align: center;
}

.product:hover {
    border: 1px solid #DDD;
}

#memberBenefits {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: auto;
}

#benefits {
    display: inline-block;
    width: 1100px;
    height: auto;
    color: white;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/gears.jpg");
    background-size: cover;
    text-align: center;
    padding: 50px;
}

#benefits h3 {
    margin: auto;
    font-size: 26px;
    color: #888888;
}

#benefits h2 {
    display: block;
    margin: auto;
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF;
}

.benefit {
    display: inline-block;
    width: 300px;
}

.benefit img {
    opacity: 0.45;
    padding: 5px;
    border: 5px solid #888888;
    text-align: center;
}

.benefit p {
    display: inline-block;
    width: 250px;
    font-size: 16px;
    color: #888888;
}

#common {
    padding-bottom: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer {
    width: 1100px;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 50px;
}

.footerLinks {
    display: inline-block;
    width: 225px;
    font-size: 16px;
    text-align: left;
    margin: auto;
    vertical-align: top;
}

.footerLinks a {
    text-decoration: none;
    color: #888888;
}

#social {
    text-align: right;
}

#copyright {
    display: inline-block;
    height: 50px;
    width: 950px;
    border-top: 1px solid #888888;
    text-align: left;
    font-size: 14px;
    color: #888888;
    margin: 20px 0 20px 0;
}

#blogPosts h3 {
    display: inline-block;
    margin: 0;
    width: 1200px;
    text-align: center;
}

#posts {
    display: inline-block;
    flex-wrap: wrap;
    width: 1200px;
    text-align: center;
    background-color: white;
}

.post {
    width: 500px;
    padding: 40px 350px 40px 350px;
}

.post img {
    margin: auto;
    width: 100%;
    height: 370px;
}

#contact {
    display: inline-block;
    width: 1200px;
    text-align: center;
    background-color: white;
}

#contact input {
    display: inline-block;
    width: 175px;
    text-align: left;
    margin: 10px 0 10px 40px;
}

#map {
    display: inline-block;
    margin-left: 350px;
    margin-right: 350px;
    width: 500px;
    height: 500px;
    background-color: #888888;
}

textarea {
    height: 100px;
    width: 250px;
}

#info {
    display: inline-block;
    width: 800px;
    padding: 25px;
}

#form {
    display: block;
    text-align: center;
    width: 400px;
    margin: auto;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-rignt: auto;
    width: 400px;
    text-align: right;
}

#form label {
    display: inline-block;
    width: auto;
    padding: 10px;
    text-align: left;
}

#form input {
    display: inline-block;
    text-align: center;
}

#msg {
    display: inline-block;
    padding: 15px 0 0 0;
}

#msg label {
    display: inline-block;
    vertical-align: top;
}

#submit {
    border: none;
    width: 100px;
    height: 35px;
    background-color: #C0392B;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

#info p {
    display: block;
    padding-left: 87px;
}

#call {
    display: inline-block;
    width: 1200px;
    background-color: black;
    color: #DDDDDD;
}

#currentEvents {
    background-color: black;
    color: white;
}

.event {
    display: inline-block;
    flex-wrap: wrap;
    width: 300px;
    padding: 20px;
    vertical-align: top;
}
